// import of the custom servoy theme properties that will import the hidden servoy theme, this imported file is for customizing the default servoy theme properties 
@import 'custom_servoy_theme_properties.less';

// Add your custom less/css to this file you can use the same less properties that are specified in the above properties.less 
.custom_label_right {
	direction:rtl;
} ;

.custom_label_right_red {
	direction:rtl;
	color:#ff0000 ;
} ;


.custom_gridrow_item {
	font-size: 85%;
}

.custom_gridrow_item_small {
	font-size: 85%;
}


.custom_gridrow_total {
	font-size: 105%;
	font-weight: bold;
}